
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --latar_belakang: #210bc7;
    --warna1: #fffffe;
    --warna2: #a7a9be;
    --warna3: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: var(--warna1);
    background: var(--latar_belakang);
    overflow-x: hidden;
}


.menu {
    background: var(--latar_belakang);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    line-height: 0;
}

.logo {
    position: relative;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: var(--warna1);
    cursor: default;
    opacity: 0;
    animation: geserKanan 1s ease forwards;
}

.navigasi_bar a {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: .3s;
    margin: 30px;
    font-weight: 500;
    color: var(--warna1);
    opacity: 0;
    animation: geserAtas .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navigasi_bar a:hover {
    color: var(--warna2);
}



.tombol1 {
    display: inline-block;
    background: var(--warna1);
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 45px;
    font-size: 18px;
    color: var(--warna3);
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    animation: geserAtas 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px var(--warna1) 0 0 25px var(--warna1);
}

.tombol1:hover {
    box-shadow: 0 0 5px var(--warna1),
        0 0 25px var(--warna1), 0 0 50px var(--warna1), 0 0 100px var(--warna1);
}

.tentang_saya {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.gambar img {
    padding-bottom: 20%;
    max-width: 480px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.teks h2 {
    font-size: 60px;
}

.teks h2 span {
    color: var(--warna2);
}

.teks h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--warna1);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.teks p {
    color: var(--warna2);
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.teks_utama {
    padding-top: 130px;
    margin-top: 200px;
}

.teks_utama h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
}

.teks_utama h2 span {
    color: var(--warna2);
}
.konten_prestasi {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 10px;
    margin: 30px 0;
}
.konten_portofolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 10px;
    margin: 30px 0;
}

.baris {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.baris img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform .5s;
}

.lapisan {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(179, 6, 6, 0.1), #fffffe);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height .5s;
}

.lapisan h5 {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.lapisan p {
    color: black;
    font-size: 1rem;
    line-height: 1.8;
}

.lapisan a {
    text-decoration: none;
}

.lapisan i {
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: var(--warna2);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.baris:hover img {
    transform: scale(1.1);
}

.baris:hover .lapisan {
    height: 100%;
}

.kontak {
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.teks_kontak h2 {
    font-size: 90px;
    line-height: 1;
    align-items: center;
}

.teks_kontak h2 span {
    color: var(--warna2);
}

.teks_kontak h4 {
    margin: 15px 0;
    color: var(--warna1);
    font-size: 20px;
    font-weight: 600;
}

.teks_kontak p {
    color: var(--warna2);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.daftar_kontak {
    margin-bottom: 3rem;
}

.daftar_kontak li {
    margin-bottom: 10px;
    display: block;
}

.daftar_kontak i {
    display: inline-block;
    color: var(--warna2);
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.daftar_kontak li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: var(--warna2);
}

.ikon_kontak i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--warna2);
    border-radius: 50%;
    font-size: 20px;
    color: var(--warna2);
    text-decoration: none;
    margin: 30px 15px 10px 0;
    transition: .5s ease;
    opacity: 0;
    animation: geserKiri 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.ikon_kontak i:hover {
    background: var(--warna1);
    color: var(--warna3);
    box-shadow: 0 0 20px var(--warna2);
}

.daftar_kontak i:hover {
    background: var(--warna2);
    color: var(--warna1);
    box-shadow: 0 0 20px var(--warna2);
}

.formulir_kontak form {
    position: relative;
}

.formulir_kontak form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 10px;
    background: var(--warna3);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .5rem;
    border-radius: .5rem;
}

.formulir_kontak textarea {
    resize: none;
    height: 220px;
}

.formulir_kontak form .kirim {
    display: inline-block;
    padding: 14px 60px;
    background: var(--warna1);
    border-radius: 40px;
    font-size: 18px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: geserAtas 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px var(--warna1), 0 0 25px var(--warna1);
}

.formulir_kontak form .kirim:hover {
    box-shadow: 0 0 5px var(--warna1),
        0 0 25px var(--warna1), 0 0 50px var(--warna1), 0 0 100px var(--warna1);
}

.hak_cipta {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--latar_belakang);
    font-weight: 300;
    margin-top: 70px;
}

.atas {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.atas i {
    color: var(--warna1);
    background-color: var(--latar_belakang);
    font-size: 20px;
    padding: 10px;
    border-radius: .5rem;
}

@keyframes geserKanan {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes geserKiri {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes geserAtas {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes geserBawah {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animasi {
    100% {
        transform: scaleX(1);
    }
}

@keyframes teksMuncul {
    100% {
        opacity: 1;
    }
}

@keyframes barGerak {
    100% {
        stroke-dashoffset: -1;
    }
}

@keyframes animasiRadial1 {
    100% {
        stroke-dashoffset: 500;
    }
}

@keyframes animasiRadial2 {
    100% {
        stroke-dashoffset: 500;
    }
}

@keyframes animasiRadial3 {
    100% {
        stroke-dashoffset: 500;
    }
}

@keyframes animasiRadial4 {
    100% {
        stroke-dashoffset: 500;
    }
}
